.container{
    font-family: 'Inter';
    position: relative;
    display: block;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius);
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0px;
    border: var(--border);
    backdrop-filter: blur(2px);
    transition: all .5s ease-in-out;
}
.container:hover{
    box-shadow: var(--shadow);
    border: 1px solid rgba(255, 255, 255, 0.151);
    border-bottom: 1px solid rgba(0, 0, 0, 0.254);
    border-right: 1px solid rgba(0, 0, 0, 0.254);
}
.containerMiddle{
    margin: 0 15px; /*TEMPORARIO*/
}
.info{
    width: 80%;
}
.info div{
    font-size: 34px;
}
.info h1{
    font-size: 28px;
    margin: 5px 0 5px;
}
.balance{
    margin: auto;
    width: 20%;
    animation: balance-anim 2s infinite alternate  ease-in-out;
}

@keyframes balance-anim {
    from { 
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    };
    to { 
        -webkit-transform: scale(1);
        transform: scale(1);
     }
}
.profit{
    margin: auto;
    width: 20%;
    animation: profit-anim 2s infinite alternate ease-in-out;
}

@keyframes profit-anim {
    from { transform: translateY(-20%); };
    to { transform: translateY(20%); }
}
.loss{
    top: 0;
    margin: auto;
    width: 20%;
    animation: loss-anim 2s infinite alternate ease-in-out;
}

@keyframes loss-anim {
    from { transform: translateY(20%); };
    to { transform: translateY(-20%); }
}
.money{
    top: 0;
    margin: auto;
    width: 20%;
    transform: rotate(0deg);
    animation: money-anim 2s infinite alternate ease-in-out;
}

@keyframes money-anim {
    0% { transform: rotate(5deg); };
    50%{ transform: rotate(0deg); }
    100% { transform: rotate(-5deg); }
}